
  <style> @import url('https://fonts.googleapis.com/css?family=Lato:700&display=swap'); </style>
  <style> .gps-512692404294255528 .gp-invisible{visibility:hidden}.gps-512692404294255528 .gp-absolute{position:absolute}.gps-512692404294255528 .gp-relative{position:relative}.gps-512692404294255528 .gp-z-1{z-index:1}.gps-512692404294255528 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-512692404294255528 .gp-mb-0{margin-bottom:0}.gps-512692404294255528 .gp-flex{display:flex}.gps-512692404294255528 .gp-inline-flex{display:inline-flex}.gps-512692404294255528 .gp-grid{display:grid}.gps-512692404294255528 .\!gp-hidden{display:none!important}.gps-512692404294255528 .gp-hidden{display:none}.gps-512692404294255528 .gp-h-5{height:20px}.gps-512692404294255528 .gp-h-full{height:100%}.gps-512692404294255528 .gp-w-5{width:20px}.gps-512692404294255528 .gp-max-w-full{max-width:100%}.gps-512692404294255528 .gp-flex-col{flex-direction:column}.gps-512692404294255528 .gp-items-center{align-items:center}.gps-512692404294255528 .gp-justify-center{justify-content:center}.gps-512692404294255528 .gp-gap-y-0{row-gap:0}.gps-512692404294255528 .gp-overflow-hidden{overflow:hidden}.gps-512692404294255528 .gp-break-words{overflow-wrap:break-word}.gps-512692404294255528 .gp-rounded-none{border-radius:0}.gps-512692404294255528 .gp-text-g-text-3{color:var(--g-c-text-3)}.gps-512692404294255528 .gp-no-underline{text-decoration-line:none}.gps-512692404294255528 .gp-opacity-25{opacity:.25}.gps-512692404294255528 .gp-opacity-75{opacity:.75}.gps-512692404294255528 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512692404294255528 .gp-duration-200{transition-duration:.2s}.gps-512692404294255528 .gp-duration-300{transition-duration:.3s}.gps-512692404294255528 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-512692404294255528 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-512692404294255528 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-512692404294255528 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-512692404294255528 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-visible{visibility:visible}.gps-512692404294255528 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@keyframes gp-spin{to{transform:rotate(1turn)}}.gps-512692404294255528 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-animate-spin{animation:gp-spin 1s linear infinite}@media (max-width:1023px){.gps-512692404294255528 .tablet\:\!gp-hidden{display:none!important}.gps-512692404294255528 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-512692404294255528 .mobile\:\!gp-hidden{display:none!important}.gps-512692404294255528 .mobile\:gp-hidden{display:none}}.gps-512692404294255528 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-512692404294255528 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line} </style>
  
      
      
            <section
              class="gp-mx-auto gp-max-w-full"
              style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:var(--g-ct-p, 15px);--pl-tablet:var(--g-ct-p, 15px);--pl-mobile:var(--g-ct-p, 15px);--pr:var(--g-ct-p, 15px);--pr-tablet:var(--g-ct-p, 15px);--pr-mobile:var(--g-ct-p, 15px)"
            >
              
    <div
      id="gpap3baDHT"
        style="--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--b:solid;--bc:#121212;--bw:0px;--radius:var(--g-radius-none);--shadow:none;--op:100%;--animation:[object Object];--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gpap3baDHT gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full"
    >
    <div
      tag="Col" label="Block" type="component"
      style="--jc:start"
      class="gPg8qFigMT gp-relative gp-flex gp-flex-col"
    >
      
  <gp-button style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--ta:center"
    class=""
  >
    <style>
    .guprLFpk6T.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #121212;
  
      
      border-bottom-left-radius: 30px;
      border-bottom-right-radius: 30px;
      border-top-left-radius: 30px;
      border-top-right-radius: 30px;
      
    }

    .guprLFpk6T:hover::before {
      
      
    }
  </style>
    <a
      href="{{ shop.url }}{{ routes.root_url | split: '/' | join: '/' }}/collections/all" target="_self" data-id="guprLFpk6T" aria-label="shop All"
      
      data-state="idle"
      class="guprLFpk6T gp-button-base gp-rounded-none gp-max-w-full gp-relative gp-group gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-g-text-3"
      style="--hvr-bg:#57C2C8;--bg:#8B3094;--bblr:30px;--bbrr:30px;--btlr:30px;--btrr:30px;--shadow:none;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:8px;--pb:8px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:8px;--pb-tablet:8px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:8px;--pb-mobile:8px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:capitalize;--fs:normal;--ff:var(--g-font-Lato, 'Lato'), var(--g-font-body, body);--weight:700;--ls:0px;--lh:150%;--size:24px;--size-tablet:24px;--size-mobile:21px"
    >
        <svg
          class="gp-invisible gp-absolute gp-h-5 gp-w-5 group-data-[state=loading]:gp-animate-spin group-data-[state=loading]:gp-visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="gp-opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="gp-opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden "
        style="--tt:default"
      >
        {{ section.settings.gguprLFpk6T_label | downcase }}
      </span>
    </a>
  </div>
  </gp-button>

    </div>
    </div>
  
            </section>
          
    
  {% schema %}
    {
      
      "name": "Section 9",
      "tag": "section",
      "class": "gps-512692404294255528 gps gpsi",
      "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/crazycompression/apps/bold/app/shopify/edit?pageType=GP_STATIC&editorId=512566515900351599&sectionId=512692404294255528)"},{"type":"text","label":"section_preload","id":"section_preload","default":"false"},{"type":"text","id":"gguprLFpk6T_label","label":"gguprLFpk6T_label","default":"shop All"}],
      "blocks": [{"type": "@app"}]
    }
  {% endschema %}
