<style>
#rebuy-widget-75785 {
  padding: 0;
}
</style>
<div class="index-section">
  <div class="page-width" >
      <div data-rebuy-id="75785" data-rebuy-shopify-product-ids="{{ product.id }}"></div>
  </div>
</div>
{% schema %}
  {
    "name": "NWS ReBuy Recently",
    "settings": []
  }
{% endschema %}